<!--[attr.data-target]="hashName" -->

<div class="admin-collapse">
  <div #collapseHeader (click)="onClickToggle($event)" class="admin-collapse-header" data-toggle="collapse"  id="headingOne">
    <h5 class="mb-0">
      <button #headerButton class="btn btn-link" data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo">
        {{label}}
      </button>
    </h5>
  </div>

  <div id="{{name}}" #collapseContent class="content" aria-labelledby="headingOne" data-parent="#accordion">


    <div #collapseBody class="admin-collapse-body d-flex flex-column">
              <ng-content>
     
              
              </ng-content>

    </div>
  </div>