.multilang-wrapper{
    position : fixed;
    width : auto;
    right : 0px;
    user-select: none;
    padding : 2px 10px 2px 10px;
    cursor: pointer;
    z-index : 20;
    background-color: orange;
    border-bottom : 2px solid white;
    input{
        border : 2px solid orange;
        margin:0px;
        padding : 0px;
    }
    #flag-menu{
        align-self : flex-end;
        width : auto;
    }
    #menu-toggle{
        // display: block;
        background-color: pink;
        width:32px;
        height: 32px;
        padding : 0px;
        margin: 0px;
        background-size: contain;
        border-width: 0px;
    }

    .dropdown-item{
        padding: 0;
        display : inline;
    }

    .flag{
        display: inline-block;
        width:20px;
        height: 20px;
        padding : 0px;
        margin: 0px;
        background-size: contain;
    }

    img{
        // display: block;
        width: 32px;
        height: 32px;
        border :1px solid red;
    }

    label{
        margin-bottom: 0px;
    }

}