<app-menu title="{{menuTitle}}" [menuLinks]="menuLinks" [menuLanguagesLinkText]="menuLanguagesLinkText"></app-menu>
<!-- <div class="jumbotron header" [defaultImage]="defaultImage" [lazyLoad]="backgroundImage" [offset]="offset"> -->
<!-- <div class="header" [defaultImage]="defaultImage" [lazyLoad]="backgroundImage"> -->
  <!-- <div class="empty-header"></div> -->
  <div id="header_wrapper">
      <video autoplay defaultMuted loop id="video"  src="assets/img/loeuf_dubreil_FINAL_03.mp4"> 
       
      </video>
      <div id="alternative-to-video" >
         <!--<img src="assets/img/oeufs_2.jpg">-->
      </div>
      
      <div *ngIf="!isPlaying">
        <div class="video-controls" (click)="onClickPlay($event)">
          <i id="playButton" class="fas fa-play-circle" ></i>
        </div>

      </div>
      <div *ngIf="isPlaying">
        <div class="video-pause" (click)="onClickPause($event)">
          <i id="pauseButton" class="fas fa-pause-circle"></i>
        </div>

      </div>
      
    <div class="title-wrapper">
      <!-- <img src="assets/img/odb_logo_medium.png"> -->
      <span class="title">{{title}}</span>
      <span class="sub-title">{{subTitle}}</span>
    </div>

  </div>
  
<!-- </div> -->


