#footer{
    text-align: center;
    width : 100%;
    background-color: rgb(255,143,0);
    margin-bottom: 0px;
    height:200px;
    border-radius: 0px;
    color :white;
    // font-weight: bold;
    z-index : -1;
}

.footer-menu{
    flex : 1;
}