#footer_wrapper{
    position : fixed;
    min-height: 200px;
    height : 100%;
    width : 100%;
    // overflow: auto;
    // pointer-events: none;
    bottom : 0px;
    background-color: rgb(255,143,0);
    z-index : -1;
    text-align: center;
    color : white;
}

.empty-flex-content{

    flex : 1;
}
.footer-menu{
    // border : 1px solid rgba(0,0,0,0.2);
    width : fit-content;
    text-align: left;
    margin : 10px;
    font-size: .8em;

    & ul{
        list-style-type: none;  
        
        line-height: 1.2em;

    } 
    // flex : 1;
}

.copyright{
    text-align: center;
}

a, a:visited{
    text-decoration: none;
    color : white;
}
a:hover{    
    // z-index : 1;
    text-decoration: underline;
    
}