.navbar ,.navbar-brand{
    font-size: .8rem;
}
.dropdown-menu{

    width : 100%;
    text-align: right;
    border : 0px;
    background-color: rgba(255,255,255,0.0);
    /* position: absolute;
    background-color: orangered;
    margin: 0px;
    padding: 0px;
    width: 100px;
    min-width: 100px;
    margin-left: -100px;
    left: 100%; */
}

.connected{
    color: green;
    font-weight: bolder;
}

.not-connected{
    color: darkred;
    font-weight: bolder;
}