
<div id="wrapper" class="container">
  <div class="row">
    <div class="col-md-6 adresse">
      
      <div class="box">
         L'Oeuf du Breil - Lieu dit 'Le Breil' <br> 35520 Melesse <br>Bretagne - France
        <hr>
         Service Commercial <br>
         M. LORANDEL Tristan <br>Tel 02 99 66 96 34 <br> Fax 02 99 66 13 62
      </div>
    </div>
    <div class="col-md-6 ">

      <div class="box">
        <form action="">
          <input type="text" name="prenom" placeholder="prenom"/>
          <input type="text" name="nom" placeholder="nom"/>
          <input type="text" name="entreprise" placeholder="entreprise"/>
          <textarea name="message" placeholder="message" rows="5"></textarea>
          <br>
          <button class="btn" type="submit" (click)="submitContactForm($event)">Envoyer</button>
        </form>
      </div>
    </div>

    
  </div>
</div>
