input{
    display:block;
    width: 300px;
    color : orange;
    background-color : #333;
    margin-top: 5px;
    margin-bottom: 5px;
}
form{
    width:100%;
}
textarea{

    color : orange;
    background-color : #333;
    margin-top:5px;
    margin-bottom: 5px;
    width:100%;
}

.adresse{
    border: 1px solid black;
}