
<div id="wrapper" class="p-sm-1 p-md-3 p-lg-5 pt-xs-5">
  <div class="container ">
  <div class="row">
    <div class="col-md-6 adresse d-flex">
      
      <div class="box p-xs-1 p-sm-2 p-md-3 p-lg-5">
         L'Oeuf du Breil - Lieu dit 'Le Breil' <br> 35520 Melesse <br>Bretagne - France
        <hr>
         Service Commercial <br>
         M. LORANDEL Tristan <br>Tel 02 99 66 96 34 <br> Fax 02 99 66 13 62
      </div>
    </div>
    <div class="col-md-6 d-flex">

      <div class="box p-sm-1 p-md-3 p-lg-5">

        <div id="messageSuccess" >Le message à bien été envoyé.</div>
        <form>
          <input class="form-control" required type="text" ngModel name="firstName" #firstName="ngModel" (ngModelChange)="checkFirstName(firstName)" (blur)="checkFirstName(firstName)" placeholder="Prenom" />
          <!-- <div class="form-control warning"  *ngIf="firstName.errors && firstName.touched" >Champ Requis ...</div> -->
          <input class="form-control" required type="text" ngModel name="lastName" #lastName="ngModel" (ngModelChange)="checkLastName(lastName)" (blur)="checkLastName(lastName)" placeholder="Nom" />
          <input class="form-control" required type="text" ngModel email name="email" #email="ngModel" (ngModelChange)="checkEmail(email)" (blur)="checkEmail(email)" placeholder="Email" />
          <!-- <div class="warning" *ngIf="email.errors && email.touched">
            <ng-container *ngIf="email.errors.required">
             <p> Champ Requis</p>
            </ng-container>
            <ng-container *ngIf="email.errors.email">
              <p>Email invalide</p>
              </ng-container>
            </div> -->
          <input class="form-control" type="text" ngModel name="company" #company="ngModel" (change)="log(company)" placeholder="Entreprise"/>
          <textarea required type="text" class="form-control" ngModel name="message" #message="ngModel" (blur)="checkMessage(message)" placeholder="Message" rows="5"></textarea>
          <br>
          <button [disabled]="email.errors || firstName.errors || lastName.errors || message.errors" class="btn btn-sm" type="submit" (click)="submitContactForm($event)">Envoyer</button>
        </form>
      </div>
    </div>

    
  </div>
  </div>
</div>
