<div id="client-wrapper">
  <div class="container">
    <app-header-title text="{{title}}"></app-header-title>
    <div class="clients-slider-wrapper" >
    <!-- <app-slider 
      [autoPlay]="true"
      [bDisplayNavigation]="false"
      [autoPlayDelay]="6"
      [showNumImage]=4 
      [sliderHeight]="200" 
      [bBackgroundContain]="true" 
      backgroundColor="white"
      [items]="[
        {url : 'assets/img/clients/logo_la_mere_poulard.png'},
        {url : 'assets/img/clients/logo_carrefour.png'},
        {url : 'assets/img/clients/logo_brioche_doree.png'},
        {url : 'assets/img/clients/logo_panavi.gif'},
        {url : 'assets/img/clients/logo_la_mere_poulard.png'},
        {url : 'assets/img/clients/logo_la_mere_poulard.png'}
          ]" ></app-slider> -->

    <app-slider [autoPlay]="true" [bDisplayNavigation]="false" [autoPlayDelay]="6" [showNumImage]=4 [sliderHeight]="200" [bBackgroundContain]="true"
      backgroundColor="white" [items]="sliderItems"></app-slider>
    </div>
  </div>
</div>