      <div id="main-wrapper">

        <h2>Gallery Manager</h2>
        <!-- <app-admin-header [bLoggedIn]="bLoggedIn" (messageEvent)="receiveMessage($event)"></app-admin-header> -->
        <div *ngIf="bLoggedIn" class="wrapper">
            <div id="errorLog"></div>

        <button class="btn-primary" (click)="saveToSite($event)">Save To Site</button>
        <button (click)="addGalleryItem($event)"> add Galley Item </button>
        <div id="items-wrapper" class="container items-wrapper">
          <div  (click)="onClickEdit($event,item.key)" *ngFor="let item of galleryDBData | async" (keypress)="onKeyPress($event)">
            <div data-id= {{item.key}} class="gallery-item" [style.background-image]="'url(assets/img/uploads/' + item.imageUrl + ')'">
              <button class="btn btn-danger btn-delete" (click)="onClick($event,item.key)" id= {{item.key}}>X</button>
              <div class="spacer"></div>
              <div><span class="item-title"> {{item.title}}</span></div>
          </div></div>

        </div>
      </div>
      </div>
      <!-- <a href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a> -->
      <ng-container *ngIf="bDisplayEditDialog">

        <ng-container *ngTemplateOutlet="editGalleryItemTemplate"></ng-container>

      </ng-container>

      <ng-container *ngIf="bDisplayUploadsDialog">

        <ng-container *ngTemplateOutlet="uploadsDialogTemplate"></ng-container>

      </ng-container>



      <ng-template #template>
        <div class="modal-body text-center">
          <p>Supprimer l'element de la gallery ?</p>
          <button type="button" class="btn btn-default" (click)="confirmDelete($event)">Yes</button>
          <button type="button" class="btn btn-primary" (click)="declineDelete($event)">No</button>
        </div>
      </ng-template>

      <ng-template #editGalleryItemTemplate>
        <div id="edit-dialog-wrapper">
          <div id="edit-dialog" class="text-center">
            <form id="edit-form" action="" method="POST" (keypress)="onKeyPress($event)">
                <p>Edit Gallery Item</p>

              
              <input type="text" value={{editItemData.title}} id="item-title">
              <input type="hidden" value={{editItemData.key}} id="item-key" >
              <img src="assets/img/uploads/{{editItemData.imageUrl}}" style="max-width:500px;">
              <button type="button" class="btn btn-default" (click)="openUploadsDialog($event)">Select Image</button>
              <br>
              <button type="button" class="btn btn-default" (click)="confirmEdit($event)">Save</button>
              <button type="button" class="btn btn-primary" (click)="declineEdit()">Cancel</button>


            </form>
          </div>
        </div>
      </ng-template>

      <ng-template #uploadsDialogTemplate >
        <div id="uploads-dialog">
          
          <div class="text-center">
              <button type="button" class="btn btn-default" (click)="closeUploadsDialog($event)">Close Manager</button>
              <app-image-manager (selectedEvent)="imageSelected($event)"></app-image-manager>
          </div>
        </div>

      </ng-template>

