<div id="main-wrapper" class="mr-auto p-sm-1 p-md-2 p-xl-4">

  <h2>Gallery Manager</h2>


        
  <div *ngIf="bLoggedIn" class="wrapper">
    <div id="errorLog"></div>


    <div class="admin-collapse">
      <div class="admin-collapse-header" data-toggle="collapse" data-target="#collapseOne" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Gallery Items

          </button>
        </h5>
      </div>
    
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="admin-collapse-body d-flex flex-column">
    
          <div class="admin-collapse-group">
            <p class="admin-collapse-group-title">Home Gallery</p>

          
            <button class="btn btn-success" (click)="addGalleryItem($event)"> <i class="fas fa-plus"></i> Add Slide </button>
            <div id="items-wrapper" class="items-wrapper">
              <!--(touchmove)="onTouchTap($event)" -->
                <div draggable=true (click)="onClickEdit($event,item.key)" *ngFor="let item of galleryDBData | async"
                (keypress)="onKeyPress($event)"
                data-id= {{item.key}} class="gallery-item" [style.background-image]="'url(assets/img/uploads/' + item.imageUrl + ')'">
                  <button class="btn btn-danger btn-delete" (click)="onClick($event,item.key)" id= {{item.key}}>X</button>
                  <div class="spacer"></div>
                  <div  class="item-title"><span> {{item.title_fr}}</span></div>
              </div>

            </div>

            <div class="save-to-site">
                <button class="btn btn-primary" (click)="saveToSite($event)">Save To Site</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


      <!-- <a href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a> -->
<ng-container *ngIf="bDisplayEditDialog">

  <ng-container *ngTemplateOutlet="editGalleryItemTemplate"></ng-container>

</ng-container>

<ng-container *ngIf="bDisplayUploadsDialog">

  <ng-container *ngTemplateOutlet="uploadsDialogTemplate"></ng-container>

</ng-container>



<ng-template #template>
  <div class="modal-body text-center">
    <p>Supprimer l'element de la gallery ?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete($event)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="declineDelete($event)">No</button>
  </div>
</ng-template>

<ng-template #editGalleryItemTemplate>
  <div id="edit-dialog-wrapper">
    <div id="edit-dialog" class="d-flex flex-column align-items-start">
      <div class="title">
        <p>Edit Gallery Item</p>
      </div>  
      
      
      <form id="edit-form" action="" method="POST" (keypress)="onKeyPress($event)">
        <label for="item-title-fr">Titre (fr): 
        <input type="text" value={{editItemData.title_fr}} id="item-title-fr">
        </label>
        <label for="item-title-en">Titre (en):
          <input type="text" value={{editItemData.title_en}} id="item-title-en">
        </label>
        <input type="hidden" value={{editItemData.key}} id="item-key" >
      </form>
      <div class="edit-item-image-container d-flex flex-column">
        <button type="button" class="btn btn-warning" (click)="openUploadsDialog($event)">Select Image</button>
        <img src="assets/img/uploads/{{editItemData.imageUrl}}">
      </div>
        <div>
          <button type="button" class="btn btn-success" (click)="confirmEdit($event)">Save</button> 
          <button type="button" class="btn btn-danger" (click)="declineEdit()">Cancel</button>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #uploadsDialogTemplate >
  <div id="uploads-dialog-wrapper">
    <div id="uploads-dialog">    
      <div class="">
        <app-image-manager [bShowDetails]="false" (selectedEvent)="imageSelected($event)"></app-image-manager>
        <button type="button" class="btn btn-warning mr-auto" (click)="closeUploadsDialog($event)">Close Uploads Manager</button>
      </div>
    </div>
  </div>
</ng-template>

