
<div id="navbar-wrapper" class="">
<div id="navbar" class="container navbar navbar-dark navbar-expand-sm flex-row flex-md-row bd-navbar"> <img src="assets/img/odb_logo_small.png" height="40px" alt="">
  
  
      <a id="headerButton" routerLink="/" class="navbar-brand nav-link" href="#">L'Oeuf du Breil</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample04">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="homeButton" routerLink="/" class="nav-link menu-link" href="#">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a id="contactButton" routerLink="/" class="nav-link menu-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a id="galleryButton" routerLink="/" class="nav-link menu-link" href="#">Photos</a>
          </li>
        <div id="" class="dropdown lang-dropdown">
        
          <a class="nav-link dropdown-toggle flags-menu-toggle" data-toggle="dropdown" data-target="flagsMenu"> Langue</a>
          <div class="flags-menu-toggle " data-toggle="dropdown">
            <!-- <img class="flag" src="assets/img/flags/{{siteLangService.flagsObject[siteLangService.currentLanguage]}}" alt=""> -->
          </div>
          <div id="flagsMenu" class="dropdown-menu dropdown-menu-right">
        
            <a class="dropdown-item" *ngFor="let lang of siteLangService.languages; let id = index;">
              <img (click)="onFlagClick($event)" id="{{id}}" class="flag" src="assets/img/flags/{{siteLangService.flagsObject[lang]}}">
            </a>
            <!-- <a class="dropdown-item">lien</a>
                    <a class="dropdown-item">lien</a> -->
        
          </div>
        </div>
        </ul>



        
      </div>

  
</div>
</div>