<div  id="modal-wrapper" class="d-flex flex-column justify-content-center">

  <div class="modal-overlay"></div>
  <div  id="modal-box" class="d-flex flex-column align-self-center">

    <div class="message">
      <p>{{message}}</p>
    </div>

    <div class="d-flex flex-row justify-content-end">
    <button class="btn btn-confirm btn-secondary" (click)="broadcastMessage(true);">{{confirmBtnText}}</button>
    <button class="btn btn-confirm btn-primary" (click)="broadcastMessage(false);">{{declineBtnText}}</button>
    </div>
  </div>

</div>



