#side-bar-wrapper{

    width:250px;
    height:100%;
    position : fixed;
    z-index : 10;
    // top:0px;
    // left: 0px;
    background-color: orange;
    color: white;
    &.collapsed{
        width:50px;
        // background-color: red;
    }      
    @media screen and (max-width:800px) {
        width:150px;
    }
}

.toggler{
    display: block;
    font-size: 50px;
    user-select: none;
    cursor: pointer;
    line-height: 1.0;
    margin:0px;
    padding-right:10px;
    // border: 1px solid black;

    &:hover{
        background-color: rgba(255,255,255,0.2);
    }
}

.side-bar-button{
    padding:5px;
    text-align: end;
    width:100%;
    font-size : 1.2rem;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    @media screen and (max-width:800px) {
        font-size : 1rem;
    }    
    // color: white;

    &:hover{
        background-color: rgba(255,255,255,0.2);
    }
    &:first-child{
        border-top: 3px solid white;
    }

    a{
        
        // text-decoration: none;
        &:hover{
            color : rgba(255,255,255,0.5);
        }
    }
    svg{
        // color:white;
        font-size : 2rem;
        vertical-align: middle;
    }
}

.conn-infos{
    // margin-top : auto;
    word-break: break-all;
    position : relative;
    
    text-overflow: ellipsis;

}

#saveDropdownButton{
    padding : 5px;
    cursor: pointer;
    border  : 2px solid rgba(white,0.0);
    transition : all 0.3s;
    font-size: 2em;
    &:hover{
        transform : translateY(-10%);
        border  : 2px solid rgba(white,0.5);
    }
}

