
<div id="errorLog"></div>
<div class="wrapper d-flex flex-column"  *ngIf="bLoggedIn">
  <div id="top-part" class="p-sm-1 p-md-2 p-xl-4">
  <h2>Images Manager</h2>
 



  

<app-admin-collapse collapsed="true" name="uploadCollapse" label="Upload Images">

<app-admin-collapse-group  name="uploadCollapseGroup" label="Upload">
            <form id="uploadForm" action="" method="POST" enctype="multipart/form-data">
              <input id="fileInput" type="file" name="file">
              <button type="submit" name="submit" (click)="uploadFile($event, [])">Upload</button>
            </form>
          <form id="uploadFormDrop" method="post" action="" enctype="multipart/form-data">
            <input type="file" hidden>
            <input id="fileDragName" hidden>
            <input id="fileDragSize" hidden>
            <input id="fileDragType" hidden>
            <input id="fileDragData" hidden>
            <div id="holder">
              <p>Glissez vos fichiers ici</p>
            </div>
          </form>

</app-admin-collapse-group>

</app-admin-collapse>






<app-admin-collapse name="imagesCollapse" label="Images">
  
                     <div class="images-wrapper">
                        <ng-container *ngIf="dbData">
                          <div *ngFor="let item of dbData | async; let i = index">
                            <div class="item-container" [style.background-image]="'url(assets/img/uploads/' + item.thumbName + ')'" (click)="onItemClick($event, item)"
                              id="{{i}}">

                              <button class="btn btn-danger btn-delete btn-sm" (click)="onDeleteClick($event,item.thumbName)">X</button>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="dbData.length === 0"> Loading</ng-container>
                        </div>
</app-admin-collapse>




    
  </div>
  
  <ng-container *ngIf="bShowDetails">
  <div class="image-details">
    <ng-container *ngIf="selectedItem">
      <p class="image-info">
        {{selectedItem.fileName}} <br>
      <b>Width :</b>{{selectedItem.width}} <br>
      <b>Height :</b> {{selectedItem.height}}<br>
      <b>Uploaded : </b>{{selectedItem.date}}
    </p>
    </ng-container>
  
  </div>
  </ng-container>
 


</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete($event)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

