
<div #collapseButton class="collaspe-button" data-toggle="collapse" (click)="onCollapseClick($event)" >
  <strong>-</strong> 
  <span class="preview-tagname" [class]="[bCollapsed ? 'collapsed' : 'opened']">{{tagName}}</span>
</div>
<div id="{{name}}" class="{{[bCollapsed ? 'group-collapsed' : 'show']}} collapse-group">
    <div class="f-flex flex-column admin-text-item-container">
      <div class="checkbox-wrapper">
      <label for="textTypeCheckbox" class="">multline text
        <input  #textTypeCheckbox type="checkbox" name="textTypeCheckbox" id="textTypeCheckbox"  (change)="onCheck($event)" [checked]="textType == 'textarea'">
      </label>
    </div>
      <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column tag-name">
          <span>Tag Name :</span>
          <input class="" type="text" [value]="tagName" (keypress)="onTagNameKeyPress($event)" (focusout)="onTagNameFocusOut($event)"/>
        </div>
        <app-admin-multilang-input inputType="{{textType}}" [bShowAllLang]="bShowAllLang" [currentLanguage]="currentLanguage" (changeLanguageEvent)="onInputChangeLanguage($event)" (ShowAllLangChangeEvent)="onShowAllLangChange($event)" (EmitValues)="onMultilangInputEmitValues($event)" class="" #inputNode name="{{name}}"></app-admin-multilang-input>
      </div>
    </div>

</div>
