$iconSize : 100px;

// html, body{
//   height:100%;
  
//   font-family:'Verdana';
// }
.box{
  overflow:hidden;
  width:auto;
  min-height: 300px;
  height:100%;  
  text-align:center;
  text-justify:middle;
  position:relative;
  padding:20px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  user-select: none;

  .color-pane{
    position:absolute;
    z-index : 0;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background-color: orange;
    transition:all 0.5s;
    -ms-transition:all 0.5s;
    transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);
    -ms-transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);
    opacity:0;
    transform : translateX(100%) rotateZ(30deg);
  }  
  
  .icon{   
    margin-top: 10px;
    z-index:5;
    font-size: $iconSize;   

  }

  .title{
    color: red;

    & h5{
      white-space: nowrap;
      word-wrap: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & h5:before{
      content:'-- ';
    }
  
    & h5:after{
      content:' --';
    }
  }


  
  .title-light{
    text-align : center;    
    position:relative;
    display : block;
    
    left:0px;
    top:0px;
    width:100%;
    margin:0 auto;
    margin-top: 10px;
    // padding: 5px 20px 10px 20px;
    
    color:white;    
    transition:all 0.5s;
    -ms-transition:all 0.5s;
    transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    -ms-transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    transition-delay:0.2s;     
    -ms-transition-delay:0.2s;     
    opacity : 0;
    transform : translateY(50%) rotateZ(0deg);    

    & h5{
      font-weight: bolder;
    }
  }  

  .title-dark{
    text-align : center;    
    position:absolute;
    display : block;
    // font-weight: bolder;
    left:0px;
    top:0px;
    width:100%;
    margin:0 auto;
    margin-top:10px;
    // padding: 5px 20px 10px 20px;
    // margin-top:30px;
    color:orange;    
    transition:all 0.5s;
    -ms-transition:all 0.5s;
    transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    -ms-transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    transition-delay:0.2s;     
    -ms-transition-delay:0.2s;     
    // opacity : 0;
    transform : translateY(50%) rotateZ(0deg);   
    
    & h5{
      font-weight: bolder;
    }
  }    


  .dark{
    color:orange;       
    display: block;    
    width: 100%;
    transition:all 0.5s;
    transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    -ms-transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);   
    transition-delay:0.1s;    
    -ms-transition-delay:0.1s;    
    position:absolute;   
    margin: 0 auto;
    margin-left: - $iconSize/4;
    text-align : center;
  }
  .light{
    color:white;    
    transition:all 0.5s;
    display: block;
    // font-size:20px;
    width: 100%;
    transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    -ms-transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);        
    transition-delay:0.1s;    
    -ms-transition-delay:0.1s;    
    position:absolute;   
    margin: 0 auto;
    margin-left: - $iconSize/4;
    opacity : 0;
    transform : translateX(50%) rotateZ(0deg);
    text-align : center;
    
  }  
  

  
  .content{
    // position : absolute;
    // bottom:30px;
    // left:0px;
    margin-top:$iconSize + 30px;
  }
  
  .content-dark{
    text-align : center;
    // margin:0 auto;
    margin-top:$iconSize + 50px;
    color:orange;
    transition:all 0.5s;
    -ms-transition:all 0.5s;
    transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    -ms-transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    transition-delay:0.1s;        
    -ms-transition-delay:0.1s; 
  }
  
  .content-light{
    text-align : center;
    
    position:absolute;
    display : block;
    left:0px;
    top:0px;
    width:100%;
    margin:0 auto;
    margin-top:$iconSize + 100px ;
    padding: 5px 20px 10px 20px;
    // margin-top:30px;
    color:white;
    
    transition:all 0.5s;
    -ms-transition:all 0.5s;
    transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    -ms-transition-timing-function : cubic-bezier(0.2,1.5,0.5,1.0);    
    transition-delay:0.2s;     
    -ms-transition-delay:0.2s;     
    opacity : 0;
    transform : translateY(50%) rotateZ(0deg);    
  }  
  
}

.box:hover{
  // background-color:  red;
  
  .color-pane{
    // height:100%;
    opacity : 1.0;
    transform : translateX(0%) rotateZ(0deg);
    
  }


  
  .dark{
    opacity : 0.0;
    transform : translateX(-10%) rotateZ(0deg);
  }
  .light{
    opacity : 1.0;
    transform : translateX(0%) rotateZ(0deg);
  }  
  
  .title-dark{
    opacity : 0.0;
    transform : translateY(-10%) rotateZ(0deg);
  }
  .title-light{
    opacity : 1.0;
    transform : translateY(0%) rotateZ(0deg);
  }   
  .content-dark{
    opacity : 0.0;
    transform : translateX(-10%) rotateZ(0deg);
  }
  .content-light{
    opacity : 1.0;
    transform : translateY(0%) rotateZ(0deg);
  }    
}



@media only screen and (max-width: 600px) {
  .box {
      .icon{   
      margin-top: 5px;
      
      font-size: $iconSize/2;   

    }
    .content-light{
      margin-top :( $iconSize/2) +100px;
    }

     .content-dark{
      margin-top :( $iconSize/2)  + 50px;
    }
  }
}


