#parallax-wrapper{
    position: absolute;
    height:100%;
    width:100%;
    top:0px;
    background-color: blue;
    // overflow: hidden;
    z-index : -1;
}
#overlay{
    position:absolute;
    top:0px;
    // height:auto;
    width:100%;
    
    
    background-color: rgba(255, 166, 0, 0.667);
}

#movingBackground{
    position:absolute;
    // height:100vh;
    width:100%;
    top:0px;
    // background-image: url("/assets/img/oeufs_1.jpg");
     background-size: cover;
     background-position: center center;
     background-repeat: repeat-y;

}