@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Raleway:400,800');
@import "./assets/sass/_variables.scss";

/* You can add global styles to this file, and also import other style files */
/*  kuler colors
#DEDC05
#A5A447
#FFCB06
#276FFF
#04365C
*/
/* width */

html, body{
    font-family: "Raleway", sans-serif;
    // -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
    /* border:1px solid orangered; */
}

::-moz-scrollbar {
    width: 12px;
}
/* Track */
::-moz-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}
/* Handle */
::-moz-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
    /* border:1px solid orangered; */
}

::scrollbar {
    width: 12px;
}
/* Track */
::scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}
/* Handle */
::scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
    /* border:1px solid orangered; */
}

html, body{
    /* height:100%; */
    max-width: 100%;
    overflow-x: hidden;

}


.rounded-shadow{

    /* border:1px solid rgba(34, 122, 189, 0.734); */
    border-radius: 5px;
    box-shadow: 3px 3px 6px 1px #6d6d6d;
    margin-top:10px;
    margin-bottom:10px;
}

