@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Open+Sans');
// @import "./node_modules/compass-mixins/lib/compass/css3";



@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
    #contact_part{
        overflow-x:hidden;
        width:100%;
        height:100vh;  
        background-image: url('/assets/img/oeufs_2.jpg');
        background-position: center;
        background-size: cover;
        // background-blend-mode: multiply;
        // background-color: #4b4b4b;  
        .dark-bg{
            background-color: rgba(0,0,0,0.8);
            
            height:auto;
            padding:0px;
            overflow-x: hidden;
        }        
    }
  
}

@supports not (-webkit-overflow-scrolling: touch) {
  /* CSS for other than iOS devices */ 
    #contact_part{
        overflow-x:hidden;
        // width:100%;
        height:100vh;
        background-image: url('/assets/img/oeufs_2.jpg');    
        background-attachment: fixed;
        position: relative;
        // min-height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;
        // background-blend-mode: multiply;
        // background-color: #4b4b4b;  

        .dark-bg{
            background-color: rgba(0,0,0,0.8);
            
            height:auto;
            padding:0px;
            overflow-x: hidden;
        }
    }

}


#enter-button-wrapper{
    $pointSize : 10px;
    $color : white;

    z-index: 10;
  position : absolute;
  left : 50%;
  bottom : 0%;
  transform : translateX(-50%);

  width : 90px;
  height : 150px;
  cursor : pointer;
  
  & .arrow-wrapper{
    position : relative;
    // border : 1px solid red;
    width : 50px;
    margin : 0 auto;
  }
  & .point{
    cursor : pointer;
    // border : 1px solid red;
    opacity : 0.0;
    width : $pointSize;
    height : $pointSize;
    background : $color;
    border-radius : 50%;
    margin : 10px;
    margin : 0 auto;
    margin-top : 10px;
    animation : pointMove 2s infinite;

    &:nth-child(2){
      animation-delay : 0.1s;
    }
    &:nth-child(3){
      animation-delay : 0.2s;
    }  
    &:nth-child(4){
      animation-delay : 0.3s;
    }   
  }

  & .arrow{

    background : unset;
    color : $color;
    font-size : 5em;  
    // margin : unset;
    // text-align : center;
    & svg{
      position : absolute;
      top : -200%;
      left : 50%;
      transform : translateX(-50%);    
      // display : block;
      // margin : 0 auto;
    }
  }
  @keyframes pointMove{
    0%,100% {
      transform : translateY(-50px);
      opacity : 0.0;
    }
    30%{
      transform : translateY(0px);
      opacity : 1.0;
    }

  }
}


div{
    transition : all 0.5s;
}


#contact_part{
    min-height: 500px;
}

.presentation-text{
    max-width : 800px;
    margin : 0 auto;
    padding-left : 20px;
    border-left : 10px solid orange;
    color : orange;
}
.row{
    height:100%;
}

$primaryColor : #333;
$primaryFontColor : white;

$secondaryColor :  orange;
$secondaryFontColor: #111;

$font1 : "Open Sans";
$font2 : "Roboto";

// html, body{
// 	width: 100%;
//     height: 100%;
//     overflow-x: hidden;
// }


.row{
    display:flex;
    // align-items: center;
    flex-grow: 1;
    // height:100%;
}

.center_content{
    // display:flex;
    flex-wrap: wrap;
    align-items: center;
    // flex-grow: 1;
    // height:100%;
    
    position: relative;
    // left: 50%;
    // top: 50%;

    // right: auto;
    margin:auto auto;
    // -webkit-transform: translateX(-50%) translateY(-50%);
    // -moz-transform: translateX(-50%) translateY(-50%);
    // -ms-transform: translateX(-50%) translateY(-50%);
    // -o-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(0%) translateY(-25%);
    text-align: center;
    width: 100%;
    // height:100%;
    // max-width: 1170px;
}



#site-wrapper{

    // overflow-x: hidden;
    // overflow-y : scroll;
    opacity : 0.0;
    transition : all 1s ; // opacity initialized in script
}
    
#about_part{
    position:relative;
    width:100%;
    min-height:75vh;
    // max-height:100vh;
    background-color: white;
    color : $secondaryFontColor;
    margin:0px;  
    padding-bottom:50px;
    // display: table-cell;
    vertical-align: middle;        

    overflow-x: hidden;
    
}

#gallery_part{
    background-color: white;
}

#contact_form_part{
    position : relative;
    background: #333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.cards-container{
    max-width: 1600px;
}

.service-box-container{

    background-color: white;
    color : $primaryColor;
    // font-family : $font1;
    font-size: 1.0em;
    height:100%;
    // border : 1px solid $secondaryColor ;
    text-align: center;
    padding: 5px;
      
    
}

.address{
    background-color: rgba(0,0,0,0.8);
    color:$secondaryColor;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;

    p{
        margin-top : auto;
        margin-bottom : auto;
    }
}

.address-box{
    // text-align: center;
    // border:1px solid #000;
    flex-grow:1.0;
    display:flex;
    // justify-content: center;
    // justify-items: left;
    // margin:5px;

    &:first-child{
        margin-top: 30px;
    }
    &:last-child{
        margin-bottom: 30px;
    }

}

// img {
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -o-user-select: none;
//     user-select: none;
// }

// .card-map{
//     @extend .card-dark;
//     // height:inherit;
//     // width: 100%;
//     padding:0px;
// }

.map-div{
    height: auto;    
    width: 100%;
}
agm-map{
    height: 100%;
    max-width:100%;
    overflow-x: hidden;
}


.slider-container{
    padding-top: 50px;
    padding-bottom : 50px;
    background: inherit;
}
.slider-wrapper{
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}



#site_offline{
    position:fixed;
    height:30px;
    margin-top:-30px;
    z-index: 100;
    background-color: rgb(255, 69, 0);
    opacity: 0.5;
    color : white;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    top:100%;
    left:0px;
}

#modifs-en-cours{

    position : absolute;
    top: 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    color : hsl(0, 0%, 29%);
    transition : all 0.5;
    // border : 1px solid black;
    opacity : 0;
    animation: fadein 1s linear 1s 1 forwards;
    & img{
        display : block;
        margin : 0 auto;
        margin-bottom : 30px;
        padding : 10px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }

    @keyframes fadein{
        0%{
            opacity : 0;
        }
        100%{
            opacity : 1;
        }
    }
}

