<div class="container">

<div class="row">


  <div class="col-md-8">
    <div class="card">
      <div class="card-block">
        
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, cupiditate sunt rem architecto rerum vel perspiciatis delectus quod nemo sed sapiente dicta expedita quidem, quae corrupti omnis, iure aspernatur recusandae!
        </p>
        
      </div>
      
      <div class="card-block">
        
      </div>
      <img src="/assets/img/oeufs_2.jpg" alt="oeufs et un panier" class="card-img-bottom">
    </div>
  </div>

  <div class="col-md-4">
  
    <div class="card">
      <div class="card-block">
        <!-- <div class="container"> -->
        <h5 class=card-title>Qui Sommes-Nous ? éçà</h5>
        <hr />
        <!-- </div> -->
      </div>
      <div class="card-block">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum numquam, at tenetur cum laudantium sunt quisquam! Quos nam
          magni, qui quisquam distinctio maxime doloribus quae, nobis adipisci corrupti aut obcaecati.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <agm-map [latitude]="40.0" [longitude]="50.0">
    </agm-map>
</div>


<app-slider [bDisplayNavigation]=true [sliderHeight]=100></app-slider>

<app-footer></app-footer>



 