<app-confirm-modal #testModal (onDecide)="testModalDecide($event)" display="false"></app-confirm-modal>
<app-confirm-modal #overwriteDatabaseModal display="false"></app-confirm-modal>




<div id="wrapper" class="p-sm-1 p-md-2 p-xl-4" *ngIf="router.url === '/admin'">
  <h2>Admin Panel ...</h2>

  <div class="admin-collapse">
    <div class="admin-collapse-header" data-toggle="collapse" data-target="#collapseTwo" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Site Data
        </button>
      </h5>
    </div>
  
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="admin-collapse-body d-flex flex-column">
  
        <div class="admin-collapse-group">
          <p class="admin-collapse-group-title">Site online</p>
        <label>
          <app-toggle toggleName="toggle1" (click)="onClickToggle1($event)"></app-toggle>
          <ng-container *ngIf="siteDbData">
            <span *ngIf="bSiteOnline" class="online">online</span>
            <span *ngIf="!bSiteOnline" class="offline">offline</span>
          </ng-container>
  
  
        </label>
        <br>
          <div class="save-to-site">
            <button class="btn btn-primary" (click)="saveToSite($event)">Save to Site</button>
          </div>
        </div>

        <div class="admin-collapse-group">
          <p class="admin-collapse-group-title">Service Boxes</p>
                  <div #serviceBoxes class="row m-0" *ngIf="homeDbData">
            
            
                    <div *ngFor="let item of homeDbData.serviceBoxes; let id=index;" class="box-data-container col-sm-6  col-xl-3 "
                      id={{id}}>
            
                      <p class="text-edit" contenteditable id="{{id}}" (focusout)="onFocusOut($event)">{{item.title}}</p>
            
                      <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="{{item.icon}} service-box-icons"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <div *ngFor="let icon of iconsList; let iconID = index;" class="dropdown-item" (click)="onChooseIcon($event,iconID)" id={{id}}
                            [attr.data-iconid]="iconID">
                            <i class="{{icon}}"></i>
                          </div>
                        </div>
                      </div>
            
            
                      <textarea class="text-area" id="{{id}}" (focusout)="onFocusOut($event)">{{item.text}}</textarea>
                    </div>
            
            
                  </div>

          
        <!-- <br> -->
          <div class="save-to-site">
            <button class="btn btn-primary" (click)="saveServiceBoxesToSite($event)">Save to Site</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <div class="admin-collapse">
    <div class="admin-collapse-header collapsed"  data-toggle="collapse" data-target="#collapseOne" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Database Tools
        </button>
      </h5>
    </div>
  
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="admin-collapse-body d-flex flex-column">
                  
                  <div class="admin-collapse-group">
                    <p class="admin-collapse-group-title">Sauvegarder la base de donnée</p>
                    <!--<button class="btn btn-primary" (click)="testModal.show('Ca va ??','confirm', 'deny',testModalCallback.bind(this))">test modal</button>
                    <button class="btn btn-primary" (click)="testModal.show('what ???','','',testModalCallback2.bind(this))">test modal</button>-->
                  
                  
                      <div class="save-to-site">

                        <button class="btn btn-primary" (click)="backupDataBase($event)">Sauvegarder</button>
                      </div>

                  </div>

                  <div class="admin-collapse-group">
                    <p class="admin-collapse-group-title">Charger une base de Donnée</p>

                    <form>     
                      <label class="custom-file-upload">
                        <div class="btn btn-primary">Charger une Sauvegarde</div>
                        <input class="" type="file" name="load-backup-file" id="backupFile" (change)="overwriteDatabaseModal.show('Confirm overwiting data base ?! really  really ????','yes really !','', overwriteDatabase.bind(this),$event,this)">
                      </label>
                    </form>

                  </div>
                 
      </div>
    </div>
  </div>

 


</div>



