@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Raleway:400,800');
$my_color : green;

$primary_font : "Raleway", sans-serif;
$lightColor : orange;
$darkColor : #333;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
); 